.row{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.col{
    display: flex;
    flex: auto;
    align-items: center;
}
.input{
    flex: 1;
}
.btn{
    padding: 4px 4px; 
    font-family: Arial, sans-serif; 
    font-weight: bold;
    background: linear-gradient(30deg, rebeccapurple, magenta); 
    color: #fff; 
    border: none;
}
.box{
    width: 100px;
    height: 100px;
}